.distill-site-nav {
  background: #ffffff;
  box-shadow: 0 10px 10px -5px rgba(0,0,0,.1);
}

.distill-site-header {
  color: #555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 58px;
}

.distill-site-header .title {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}

.distill-site-header a:hover {
  color: #555;
}

.nav-left {
  margin-left: 15px;
  background-image: url("../reference/figures/logo.png");
  background-size: 32px auto;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 60px;
  margin-top: 2px;
}

.nav-left .a {
  padding-left: 0px;
}

@media screen and (max-width: 768px) {
  .distill-site-header .title {
    padding-left: 0px;
  }
}

@media screen and (min-width: 1000px) {
  .distill-site-header .title {
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .distill-site-header .nav-left {
    margin-left: 15px;
  }
  
  .distill-site-header .nav-right {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1000px) {
  .distill-site-header .nav-left {
    margin-left: 115px;
  }
  
  .distill-site-header .nav-right {
    margin-right: 115px;
  }
}