.pagedtable {
  overflow: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.pagedtable table {
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-bottom: 1px solid #dddddd;
  font-weight: 100;
  line-height: 24px;
}

.pagedtable td, .pagedtable th {
  padding: 2px 4px 3px 4px;
}

.pagedtable th {
  border: none;
  border-bottom: 1px solid #dddddd;

  min-width: 45px;
  font-weight: normal;
}

.pagedtable-empty th {
  display: none;
}

.pagedtable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagedtable .even {
  background-color: #fafafa;
}

.pagedtable-padding-col {
  display: none;
}

.pagedtable a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pagedtable-index-nav {
  cursor: pointer;
  padding: 0 5px 0 5px;
  float: right;
  border: 0;
}

.pagedtable-index-nav-disabled {
  cursor: default;
  text-decoration: none;
  color: #999;
}

a.pagedtable-index-nav-disabled:hover {
  text-decoration: none;
  color: #999;
}

.pagedtable-indexes {
  cursor: pointer;
  float: right;
  border: 0;
}

.pagedtable-index-current {
  cursor: default;
  text-decoration: none;
  color: #333;
  border: 0;
}

a.pagedtable-index-current:hover {
  text-decoration: none;
  color: #333;
}

.pagedtable-index {
  width: 30px;
  display: inline-block;
  text-align: center;
  border: 0;
}

.pagedtable-index-separator-left {
  display: inline-block;
  color: #333;
  font-size: 9px;
  padding: 0 0 0 0;
  cursor: default;
}

.pagedtable-index-separator-right {
  display: inline-block;
  color: #333;
  font-size: 9px;
  padding: 0 4px 0 0;
  cursor: default;
}

.pagedtable-footer {
  padding-top: 6px;
  padding-bottom: 5px;
}

.pagedtable-not-empty .pagedtable-footer {
}

.pagedtable-info {
  overflow: hidden;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pagedtable-header-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagedtable-header-type {
  color: #999;
  height: 0px;
}

.pagedtable-na-cell {
  font-style: italic;
  opacity: 0.3;
}
