body {
  font-family : "Lucida Sans", "DejaVu Sans", "Lucida Grande", "Segoe UI", Verdana, Helvetica, sans-serif;
  font-size : 12px;
  -ms-user-select : none;
  -moz-user-select : none;
  -webkit-user-select : none;
  user-select : none;

  margin: 12px;
  background: #FFF;
}

table {
  width: 100%;
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: solid 1px #DFDFDF;
}

select {
  background: #FFF;
}

#search {
  width: 300px;
  height: 16px;
}

#board {
  width: 100px;
}

.result-entry {
  height: 50px;
  width: 500px;
  margin-bottom: 8px;
  display: flex;
}

.result-entry-info {
  height: 50px;
  width: 440px;
  display: inline-block;
  overflow: hidden;
  overflow: hidden;
}

.result-entry-info-name {
  height: 20px;
  width: 440px;
}

.result-entry-info-desc {
  height: 30px;
  width: 440px;
}

.result-entry-table {
  display: flex;
  overflow: hidden;
  width: 50px;
  height: 55px;
  font-size: 3px;
  padding: 2px 5px 3px 5px;
}

.result-entry-table > div {
  width: 100%;
}

.result-entry-table > div {
  height: 3px;
}

/* entry table: row style */
.result-entry-table > div > div:nth-child(even) {
  background: #ffebcb;
}

/* entry table: row style */
.result-entry-table > div > div:nth-child(odd) {
  background: #fff9f0;
}

/* entry table: column style odd */
.result-entry-table > div {
  margin-right: 1px;
}

/* entry table: header style */
.result-entry-table > div > div:nth-child(1) {
  background: #f5b348;
}

