html {
  height: 100%;
}

body {
  font-family : "Lucida Sans", "DejaVu Sans", "Lucida Grande", "Segoe UI", Verdana, Helvetica, sans-serif;
  font-size : 12px;
  -ms-user-select : none;
  -moz-user-select : none;
  -webkit-user-select : none;
  user-select : none;

  background: #FFF;

  margin-bottom: 0;

  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

table {
  width: 100%;
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: solid 1px #DFDFDF;
}

select {
  background: #FFF;
}

#search {
  width: 300px;
  height: 16px;
}

#board {
  width: 100px;
}

#status {
  text-align: center;
  padding-top: 100px;
  position: absolute;
  width: 95%;
}

.result-entry {
  height: 50px;
  width: 500px;
  margin-bottom: 8px;
  display: flex;
  cursor: pointer;
}

.result-entry-info {
  height: 50px;
  width: 400px;
  display: inline-block;
  overflow: hidden;
}

.result-entry-info-name {
  height: 16px;
  width: 400px;
  color: #464646;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.result-entry-info-desc {
  height: 30px;
  width: 400px;
  color: #7c7c7c;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.result-entry-table {
  display: flex;
  overflow: hidden;
  width: 50px;
  height: 55px;
  font-size: 3px;
  padding: 2px 5px 3px 5px;
}

.result-entry-table > div {
  width: 100%;
}

.result-entry-table > div {
  height: 3px;
}

/* entry table: row style */
.result-entry-table > div > div:nth-child(even) {
  background: #ffebcb;
}

/* entry table: row style */
.result-entry-table > div > div:nth-child(odd) {
  background: #fff9f0;
}

/* entry table: column style odd */
.result-entry-table > div {
  margin-right: 1px;
}

/* entry table: header style */
.result-entry-table > div > div:nth-child(1) {
  background: #f5b348;
}

/* entry table: row padding */
.result-entry-table > div > div.row-padding {
  background: #fffdfa;
}

/* disabled */
.result-entry-table.result-entry-table-nodims > div > div:nth-child(even) {
  background: #eeeeee;
}
.result-entry-table.result-entry-table-nodims > div > div:nth-child(odd) {
  background: #fcfcfc;
}
.result-entry-table.result-entry-table-nodims > div > div:nth-child(1) {
  background: #929292;
}
.result-entry-table.result-entry-table-nodims > div > div.row-padding {
  background: #fafafa;
}

/* files */
.result-entry-files {
  padding: 0px 8px 0 2px;
}

.navigation {
  width: 100%;
  border-top: solid 1px #DFDFDF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 6px;
}

.navigation > a {
  padding-left: 4px;
  padding-right: 4px;
  line-height: 26px;
  text-decoration: none;
  color: #333;
  display: inline-block;
  min-width: 25px;
}

.navigation > a.nav-disabled {
  pointer-events: none;
  cursor: default;
  color: #999;
}

.nav-selected {
  border: solid 1px #999;
  border-radius: 2px;
}

.navigation {
  margin: 8px;
}

#results {
  flex-grow: 1;
  margin: 8px;
}

#header {
  margin: 8px;
}
