<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="addin.css"/>
    <script src="shared/jquery.js" type="text/javascript"></script>
    <script src="shared/shiny.js" type="text/javascript"></script>
    <script src="vue.js" type="text/javascript"></script>
    <script type="text/javascript">
        var app = null;

        Vue.component('result-entry', {
          template: `
            <div class="result-entry">
              <div width="60" height="60" class="result-entry-table">
                <div v-for="coln in entry.cols">
                  <div v-for="rown in entry.rows">&nbsp;</div>
                </div>
              </div>
              <div class="result-entry-info">
                <div class="result-entry-info-name" v-text="entry.name" />
                <div class="result-entry-info-desc" v-text="entry.description" />
              </div>
            </div>
          `,
          props: {
            entry: Object
          }
        })

        var initialize = function() {
          app = new Vue({
            el: '#app',
            data: {
              search: "",
              board: "all",
              results: {},
              datasets: [],
              page: 0
            },
            methods: {
              updatePage: function(page) {
                if (page == 0) {
                  app.$set(app.$data, 'datasets', []);
                  return;
                }

                var maxResults = 8;
                var results = this.results;
                var resultStart = (page - 1) * maxResults;
                var resultEnd = Math.min(results.description.length, page * maxResults);

                var datasets = [];
                for (var idx = resultStart; idx < resultEnd; idx++) {
                  datasets.push({
                    name: results.name[idx],
                    description: results.description[idx],
                    rows: Math.min(13, 2 + Math.floor(11 * Math.random())),
                    cols: Math.min(11, 2 + Math.floor(19 * Math.random()))
                  })
                }

                app.$set(app.$data, 'datasets', datasets);
              }
            },
            watch: {
              'search': function(val, oldVal) {
                Shiny.setInputValue("search", val);
              },
              'board': function(val, oldVal) {
                Shiny.setInputValue("board", val);
              },
              'page': function(val, oldVal) {
                this.updatePage(val);
              },
              'results': function(val, oldVal) {
                if (val == oldVal) return;
                this.updatePage(1);
              }
            }
          });
        };

        $(document).on('shiny:connected', function(event) {
          Shiny.addCustomMessageHandler("search-results", function(results) {
            app.$set(app.$data, 'results', results);
          });

          initialize();
        });
      </script>
  </head>
  <body>
    <div id="app">
      <table>
        <tr>
          <td>
            Search:
            <input id="search" type="text" v-model="search">
          </td>
          <td>
            Board:
            <select id="board" v-model="board">
              <option value="all" selected="">All</option>
              <option value="local">Local</option>
              <option value="packages">Packages</option>
            </select>
          </td>
        </tr>
      </table>
      <div>
        <result-entry v-for="entry in datasets" :entry="entry" />
      </div>
    </div>
  </body>
</html>
