<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="addin.css"/>
    <script src="shared/jquery.js" type="text/javascript"></script>
    <script src="shared/shiny.js" type="text/javascript"></script>
    <script src="vue.js" type="text/javascript"></script>
    <script type="text/javascript">
        var app = null;

        Vue.component('result-entry', {
          template: `
            <div class="result-entry" v-on:click="select">
              <div width="60" height="60" v-bind:class="{ 'result-entry-table': true, 'result-entry-table-nodims': entry.nodims }">
                <div v-for="coln in entry.cols">
                  <div v-for="rown in entry.rows">&nbsp;</div>
                  <div v-for="rown in (10 - entry.rows)" class="row-padding">&nbsp;</div>
                </div>
              </div>
              <div class="result-entry-info">
                <div class="result-entry-info-name" v-text="entry.name" />
                <div class="result-entry-info-desc" v-text="entry.description" />
              </div>
            </div>
          `,
          props: {
            entry: Object
          },
          methods: {
            select: function() {
              Shiny.setInputValue("dataset", this.entry.name);
            }
          }
        })

        var initialize = function() {
          app = new Vue({
            el: '#app',
            data: {
              search: "",
              board: "all",
              results: {},
              datasets: [],
              page: 0,
              boards: []
            },
            methods: {
              updatePage: function(page) {
                if (page == 0) {
                  app.$set(app.$data, 'datasets', []);
                  return;
                }

                var maxResults = 8;
                var results = this.results;
                var resultStart = (page - 1) * maxResults;
                var resultEnd = Math.min(results.description.length, page * maxResults);

                var datasets = [];
                for (var idx = resultStart; idx < resultEnd; idx++) {
                  var rows = 1000;
                  var cols = 10;
                  var nodims = true;
                  if (results.metadata) {
                    var metadata = JSON.parse(results.metadata[idx]);
                    if (metadata && metadata.rows) rows = metadata.rows;
                    if (metadata && metadata.cols) cols = metadata.cols;
                    if (metadata && metadata.rows && metadata.cols) nodims = false;
                  }

                  datasets.push({
                    name: results.name[idx],
                    description: results.description[idx],
                    rows: Math.min(13, 1 + Math.ceil(Math.log(Math.max(2, rows)) / Math.log(10))),
                    cols: Math.min(11, Math.ceil(Math.log(cols + 1)/ Math.log(2))),
                    nodims: nodims
                  })
                }

                app.$set(app.$data, 'datasets', datasets);
              }
            },
            watch: {
              'search': function(val, oldVal) {
                Shiny.setInputValue("search", val);
              },
              'board': function(val, oldVal) {
                Shiny.setInputValue("board", val);
              },
              'page': function(val, oldVal) {
                this.updatePage(val);
              },
              'results': function(val, oldVal) {
                if (val == oldVal) return;
                this.updatePage(1);
              }
            }
          });
        };

        $(document).on('shiny:connected', function(event) {
          Shiny.addCustomMessageHandler("search-results", function(results) {
            app.$set(app.$data, 'results', results);
          });

          Shiny.addCustomMessageHandler("initialized", function(results) {
            app.$set(app.$data, 'boards', results.boards);
          });

          initialize();
        });
      </script>
  </head>
  <body>
    <div id="app">
      <table>
        <tr>
          <td>
            Search:
            <input id="search" type="text" v-model="search">
          </td>
          <td>
            Board:
            <select id="board" v-model="board">
              <option value="all" selected>all</option>
              <option :value="board" v-text="board" v-for="board in boards"></option>
            </select>
          </td>
        </tr>
      </table>
      <div>
        <result-entry v-for="entry in datasets" :entry="entry" />
      </div>
    </div>
  </body>
</html>
