on:
  push:
    branches:
      - master
  pull_request:

name: Test

jobs:
  check:
    strategy:
      matrix:
        os: ["ubuntu-18.04"]
        include:
          - os: ubuntu-18.04
            cran: https://demo.rstudiopm.com/all/__linux__/bionic/latest
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}
    timeout-minutes: 20
    env:
      CRAN: ${{ matrix.cran }}
    steps:
      - uses: actions/checkout@v1
      - uses: r-lib/actions/setup-r@master
      - name: Build and Test
        run: |
          R CMD build --resave-data --no-build-vignettes .
          R CMD check --no-manual --ignore-vignettes --no-tests pins*tar.gz
          Rscript ci/travis.R
