on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: posit-connect

jobs:
  posit-connect:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.fork == false
    env:
      RSC_LICENSE: ${{ secrets.RSC_LICENSE }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      # TODO: should use a real action to make sure that cleanup happens on error...
      - name: run Posit Connect
        run: |
          docker run -d -v $PWD/.github/setup-connect/users.txt:/etc/users.txt -v $PWD/.github/setup-connect/rstudio-connect.gcfg:/etc/rstudio-connect/rstudio-connect.gcfg --name=pins-connect -p 3939:3939 --privileged -e RSC_LICENSE -e RSTUDIO_CONNECT_HASTE=enabled rstudio/rstudio-connect:latest
      - name: create Posit Connect users
        run: |
          docker exec pins-connect awk ' { system("useradd -m -s /bin/bash "$1); system("echo \""$1":"$2"\" | chpasswd"); system("id "$1) } ' /etc/users.txt

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            rstudio/connectapi
          needs: check

      - name: wait for connect to start
        run: |
          curl -s --retry 10 --retry-connrefused http://localhost:3939

      - name: initialize Connect users
        shell: Rscript {0}
        run: |
          admin_key <- connectapi:::create_first_admin(url = "http://localhost:3939", user = "admin", password = "admin0", email = "admin@example.com", provider = "pam")

          susan_key <- connectapi:::create_first_admin(url = "http://localhost:3939", user = "susan", password = "susan", email = "susan@example.com", provider = "pam")
          derek_key <- connectapi:::create_first_admin(url = "http://localhost:3939", user = "derek", password = "derek", email = "derek@example.com", provider = "pam")

          saveRDS(
            list(
              admin_key = admin_key$api_key,
              susan_key = susan_key$api_key,
              derek_key = derek_key$api_key
            ),
            "tests/testthat/creds.rds"
          )


      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true

      - name: Show docker logs
        if: always()
        run: |
          docker logs pins-connect

      - name: clean up Posit Connect
        if: always()
        run: |
          docker stop pins-connect
          docker rm pins-connect
