on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: posit-connect

jobs:
  posit-connect:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.fork == false
    env:
      RSC_LICENSE: ${{ secrets.RSC_LICENSE }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - name: run Connect
        run: docker-compose up -d --build

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            rstudio/connectapi
          needs: check

      - name: create Connect users
        run: |
          sleep 5
          curl -s --retry 10 --retry-connrefused http://localhost:3939
          docker-compose exec -T rsconnect bash < .github/setup-connect/add-users.sh

      - name: initialize Connect users
        shell: Rscript {0}
        run: |
          admin_key <- connectapi:::create_first_admin(url = "http://localhost:3939", user = "admin", password = "admin0", email = "admin@example.com", provider = "pam")

          susan_key <- connectapi:::create_first_admin(url = "http://localhost:3939", user = "susan", password = "susan", email = "susan@example.com", provider = "pam")
          derek_key <- connectapi:::create_first_admin(url = "http://localhost:3939", user = "derek", password = "derek", email = "derek@example.com", provider = "pam")

          saveRDS(
            list(
              admin_key = admin_key$api_key,
              susan_key = susan_key$api_key,
              derek_key = derek_key$api_key
            ),
            "tests/testthat/creds.rds"
          )

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true

      - name: shutdown Posit Connect
        if: always()
        run: |
          docker-compose down

